$fullWidth: calc(99vw - 6px);

// TOP IMG \\

img {
  width: $fullWidth;
  height: $fullWidth;
}

.imgCont {
    position: relative;
    text-align: center;
    height: $fullWidth;
    color: white;
    line-height: 15vw;
}

.town {
      font-size: 10vw;
}

.meteo,.date {
      font-size: 8vw;
}

.gradi, .iconM {
      font-size: 15vw;
}

.onImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
