.previsioniSettimana {
	margin-bottom: 50px;

	article {
		display: flex;
		justify-content: space-between;
		background-color: #fafafa;
		padding: 20px;
		border-bottom: 1px solid white;
	}

	i {
		font-size: 28px;
		width: 30%;
	}
	p {
		width: 10%;
		text-transform: capitalize;

		&:first-child {
			width: 50%;
		}
	}
}
