.townIMG {
  width: 100%;
  height: 90%;
}

.imgCont {
    position: relative;
    text-align: center;
    color: white;
    line-height: 11vw;
}

.onImg {
    position: absolute;
    top: calc(44% + 5px);
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.towName {
      font-size: 10vw;
}

.meteoName,.data {
      font-size: 8vw;
}

.gradi, .iconT {
      font-size: 15vw;
}
