/******************************
      ICONS
******************************/

.icon_01d,
.icon_01n {
	&:after {
  	content: "\f185";
	}
}

.icon_02d,
.icon_02n,
.icon_03d,
.icon_03n,
.icon_04d,
.icon_04n {
  &:after {
		content: "\f0c2";
	}
}

.icon_09d,
.icon_09n,
.icon_10d,
.icon_10n {
  &:after {
		content: "\f043";
	}
}

.icon_11d,
.icon_11n {
  &:after {
		content: "\f0e7";
	}
}

.icon_13d,
.icon_13n {
  &:after {
		content: "\f2dc";
	}
}

.icon_50d,
.icon_50n {
  &:after {
		content: "\f0c9";
	}
}
