<section class="imgCont">
	<img src="" class="bgTop" />
	<!-- CAMBIA QUANDO VI E' L'IMMAGINE DA API -->
	
	<div class="onImg">
		<img
			th:attr="src=@{'http://openweathermap.org/img/w/' + ${infoWeather.weather[0].icon} + '.png'}"
			class="iconM" />
		<p th:text="${infoWeather.name}" class="town" />
		<p th:text="${infoWeather.weather[0].main}" class="meteo" />
		<p th:text="${infoWeather.dt}" class="date" />
		<p class="gradi"><span th:text="${infoWeather.main.temp}" />°</p>
	</div>
</section>