<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Stazione Meteo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
</head>
<body>
  <th:block th:include="block_1"></th:block>
  <th:block th:include="block_2"></th:block>
  <th:block th:include="block_3"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/lang.js" charset="utf-8"></script>
<script src="js/block_1.js" charset="utf-8"></script>
<script src="js/block_2.js" charset="utf-8"></script>
<script src="js/block_3.js" charset="utf-8"></script>
<script src="js/block_3_speech.js" charset="utf-8"></script>
<script src="js/main.js" charset="utf-8"></script>
</html>
